@use "@/style/var.scss" as var;

.tabBar {
  padding-bottom: var.$safeAreaInsetBottom;
  padding-bottom: var.$safeAreaInsetBottomEnv;
  box-shadow: inset 0px 1px 0px #f0f0f0;
  background-color: #fff;
  flex: 0 0 auto;
  width: 100%;
  position: relative;
  z-index: 100;
}

.tabList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 8px 20px 4px 20px;
}

.title {
  width: 100%;
  flex: 0 0 auto;
  line-height: 14px;
  text-align: center;
  margin-top: 2px;
  font-weight: 400;
  font-size: 10px;
  color: inherit;
  transition: all 0.3s ease;
}

.icon {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.badge {
  border-radius: 100px;
  height: 16px;
  min-width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: red;
  padding: 1px 5px;
  position: absolute;
  right: -50%;
  top: -2px;
  white-space: nowrap;
}

.item {
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  flex: 0 0 auto;
}

.itemBox {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  color: #666;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;

  &:first-child {
    justify-content: flex-start;
  }

  &:last-child {
    justify-content: flex-end;
  }

  &.isActive {
    color: #ff0000;
  }
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}
