@use "sass:color";
@use "@/style/var.scss";

.modal {
  width: 320px;
  background: #fff;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transform: translate(-50%, -50%);
  opacity: 0;

  &.enter {
    opacity: 1;
    transition: opacity 150ms ease-out;
  }

  &.leave {
    opacity: 0;
    transition: opacity 150ms ease-out;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;

  &.enter {
    opacity: 1;
    transition: opacity 150ms ease-out;
  }

  &.leave {
    opacity: 0;
    transition: opacity 150ms ease-out;
  }
}

.title {
  padding: 32px 24px 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #333;
  text-align: center;
}

.content {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  opacity: 0.5;
  color: #333;
  text-align: center;
  padding: 16px 24px 32px;

  &:first-child {
    padding-top: 32px;
  }
}

.line {
  height: 1px;
  background-color: #ddd;
  transform: scaleY(0.5);
}

.btns {
  box-shadow: inset 0px -0.5px 0px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: stretch;

  .btn {
    flex: 1 1 0;
    line-height: 55px;
    text-align: center;
    height: 55px;
    font-weight: 600;
    font-size: 17px;
    color: #333;
    border-radius: 0;
    border: none;
    outline: none;

    &::after,
    &::before {
      display: none;
    }

    &:nth-child(2) {
      box-shadow: -0.5px 0px 0px rgba(0, 0, 0, 0.1);
    }
  }

  .ok {
    color: #576b95;

    &.isDisabled {
      opacity: 0.5;
    }
  }

  .cancel {
    &.isDisabled {
      color: #ccc;
    }
  }
}
