@use "@/style/var.scss";

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.isSimple {
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
  }
}

.title {
  padding: 0 5px;
  height: 100%;
  width: 0;
  flex: 1 1 auto;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;

  &.isMain {
    font-weight: 600;
    font-size: 28px;
    padding-left: 0;
    text-align: left;
    justify-content: left;
  }
}

.titleText {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding: 16px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.titleMain {
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
}

.btnWrapper {
  display: flex;
  height: 100%;
  flex: 0 0 auto;
  align-items: center;
}

.btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;

  &.isHover {
    transform: scale(1.1);
  }
}

.btnCircle {
  @extend .btn;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0.5px 0 #000;
  border-radius: 50%;
  transition: transform 0.3s;

  &.isHover {
    transform: scale(1.1);
  }
}

.btnSp {
  height: 20px;
  opacity: 0.2;
  width: 1px;
  transform: scaleX(0.5);
  overflow: hidden;
  background: #000;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.btnGroup {
  height: 32px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0.5px 0 #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;

  .btn {
    width: auto;
    padding: 0 7px;
  }
}

.nav {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  flex: 0 0 auto;
  color: #333;
  width: 100%;

  &.isFixed {
    position: fixed;
  }

  &.isSimple {
    position: fixed;
    width: 0;
  }

  &.isLight {
    color: #fff;

    .btnGroup {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 0.5px 0 #fff;
    }

    .btnCircle {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 0.5px 0 #fff;
    }

    .btnSp {
      background: #fff;
    }
  }
}
